<h1>New Places</h1>

<form action="/places" method="post">
  <p>
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
  </p>
  <p>
    <label for="created_at">Created At</label>
    <input type="date" name="created_at" id="created_at">
    <label for="updated_at">Updated At</label>
    <input type="date" name="updated_at" id="updated_at">
  </p>
  <button>Submit</button>
</form>

<p>
  <a href="/places">Return</a>
</p>